.testbox input[type=radio] {
	opacity: 0;
	position: fixed;
	width: 0;
}
#inst {display: block;}
#quest{ display: none; }

#gadq1 { display: block; }
#gadq2 { display: none; }
#gadq3 { display: none; }
#gadq4 { display: none; }
#gadq5 { display: none; }
#gadq6 { display: none; }
#gadq7 { display: none; }
#gadans { display: none; }

#baiq1 { display: block; }
#baiq2 { display: none; }
#baiq3 { display: none; }
#baiq4 { display: none; }
#baiq5 { display: none; }
#baiq6 { display: none; }
#baiq7 { display: none; }
#baiq8 { display: none; }
#baiq9 { display: none; }
#baiq10 { display: none; }
#baiq11 { display: none; }
#baiq12 { display: none; }
#baiq13 { display: none; }
#baiq14 { display: none; }
#baiq15 { display: none; }
#baiq16 { display: none; }
#baiq17 { display: none; }
#baiq18 { display: none; }
#baiq19 { display: none; }
#baiq20 { display: none; }
#baiq21 { display: none; }
#baians { display: none; }

#bdiq1 { display: block; }
#bdiq2 { display: none; }
#bdiq3 { display: none; }
#bdiq4 { display: none; }
#bdiq5 { display: none; }
#bdiq6 { display: none; }
#bdiq7 { display: none; }
#bdiq8 { display: none; }
#bdiq9 { display: none; }
#bdiq10 { display: none; }
#bdiq11 { display: none; }
#bdiq12 { display: none; }
#bdiq13 { display: none; }
#bdiq14 { display: none; }
#bdiq15 { display: none; }
#bdiq16 { display: none; }
#bdiq17 { display: none; }
#bdiq18 { display: none; }
#bdiq19 { display: none; }
#bdiq20 { display: none; }
#bdiq21 { display: none; }
#bdians { display: none; }

#dassq1 { display: block; }
#dassq2 { display: none; }
#dassq3 { display: none; }
#dassq4 { display: none; }
#dassq5 { display: none; }
#dassq6 { display: none; }
#dassq7 { display: none; }
#dassq8 { display: none; }
#dassq9 { display: none; }
#dassq10 { display: none; }
#dassq11 { display: none; }
#dassq12 { display: none; }
#dassq13 { display: none; }
#dassq14 { display: none; }
#dassq15 { display: none; }
#dassq16 { display: none; }
#dassq17 { display: none; }
#dassq18 { display: none; }
#dassq19 { display: none; }
#dassq20 { display: none; }
#dassq21 { display: none; }
#dassans { display: none; }

#mbtiq1 { display: block; }
#mbtiq2 { display: none; }
#mbtiq3 { display: none; }
#mbtiq4 { display: none; }
#mbtiq5 { display: none; }
#mbtiq6 { display: none; }
#mbtiq7 { display: none; }
#mbtiq8 { display: none; }
#mbtiq9 { display: none; }
#mbtiq10 { display: none; }
#mbtiq11 { display: none; }
#mbtiq12 { display: none; }
#mbtiq13 { display: none; }
#mbtiq14 { display: none; }
#mbtiq15 { display: none; }
#mbtiq16 { display: none; }
#mbtiq17 { display: none; }
#mbtiq18 { display: none; }
#mbtiq19 { display: none; }
#mbtiq20 { display: none; }
#mbtiq21 { display: none; }
#mbtiq22 { display: none; }
#mbtiq23 { display: none; }
#mbtiq24 { display: none; }
#mbtiq25 { display: none; }
#mbtiq26 { display: none; }
#mbtiq27 { display: none; }
#mbtiq28 { display: none; }
#mbtiq29 { display: none; }
#mbtiq30 { display: none; }
#mbtiq31 { display: none; }
#mbtiq32 { display: none; }
#mbtiq33 { display: none; }
#mbtiq34 { display: none; }
#mbtiq35 { display: none; }
#mbtiq36 { display: none; }
#mbtiq37 { display: none; }
#mbtiq38 { display: none; }
#mbtiq39 { display: none; }
#mbtiq40 { display: none; }
#mbtiq41 { display: none; }
#mbtiq42 { display: none; }
#mbtiq43 { display: none; }
#mbtiq44 { display: none; }
#mbtiq45 { display: none; }
#mbtiq46 { display: none; }
#mbtiq47 { display: none; }
#mbtiq48 { display: none; }
#mbtiq49 { display: none; }
#mbtiq50 { display: none; }
#mbtiq51 { display: none; }
#mbtiq52 { display: none; }
#mbtiq53 { display: none; }
#mbtiq54 { display: none; }
#mbtiq55 { display: none; }
#mbtiq56 { display: none; }
#mbtiq57 { display: none; }
#mbtiq58 { display: none; }
#mbtiq59 { display: none; }
#mbtiq60 { display: none; }
#mbtiq61 { display: none; }
#mbtiq62 { display: none; }
#mbtiq63 { display: none; }
#mbtiq64 { display: none; }
#mbtiq65 { display: none; }
#mbtiq66 { display: none; }
#mbtiq67 { display: none; }
#mbtiq68 { display: none; }
#mbtiq69 { display: none; }
#mbtiq70 { display: none; }
#mbtians { display: none; }

#phqq1 { display: block; }
#phqq2 { display: none; }
#phqq3 { display: none; }
#phqq4 { display: none; }
#phqq5 { display: none; }
#phqq6 { display: none; }
#phqq7 { display: none; }
#phqq8 { display: none; }
#phqq9 { display: none; }
#phqans { display: none; }

#whoq1 { display: block; }
#whoq2 { display: none; }
#whoans { display: none; }